<div id="filterrific_results">

  <div class="about">
    <div class="container">
      <div class="about-top grid-1">
        <% materials.each do |material| %>
            <div class="col-md-4 about-left" style="margin-bottom: 15px;">
              <%= link_to index_of_trgovina_index_path(id: material.id), :method => :get do %>
                  <figure class="effect-bubba shadow">
                    <% if material.avatar_file_name.nil? %>
                        <div style="color: white; font-size: 16px;">
                          <%= material.title %>
                        </div>
                      <%=image_tag("slika_kateg.jpg", class: "img-responsive" ) %>
                    <% else %>
                        <div style="color: white; font-size: 16px;">
                          <%= material.title %>
                        </div>
                      <%= image_tag(material.avatar.url(:index), class: "img-responsive") %>
                    <% end %>
                    <!--TODO: upisati naziv kategorije-->
                    <figcaption>
                      <h2><%= material.title %></h2>
                    </figcaption>
                  </figure>
              <% end %>
            </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>


<script>

  $('[data-countdown]').each(function() {
    var $this = $(this), finalDate = $(this).data('countdown');
    $this.countdown(finalDate, function(event) {
      $this.html(event.strftime('%D dana %H:%M:%S'));
    });
  })
</script>