<style>
  .item_price_light {
    font-weight:normal;
  }

  .product-bottom h3 a{
    font-size: 16px;
    color: #000;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
  }
</style>
<div id="filterrific_results">
  <%= render partial: 'trgovina/modal_article', locals: {article: articles.first} %>
      <% articles.each do |art| %>

          <div class="product-one col-md-4 product-left " style="">
            <% if art.on_discount == true && art.end_date != nil %>
                <div class="timer_popust" >
                  <h5><div data-countdown="<%= art.end_date.strftime("%Y/%m/%d %H:%M") %>" style="color: white;"></div></h5>
                </div>
            <% end %>
            <div class="product-main simpleCart_shelfItem">

              <!--TODO: upisati naziv slike-->
              <a data-toggle="modal" data-target="#ModalId<%= art.id %>" onclick="$(window).trigger('resize'); $(window).trigger('resize');"> <% if !art.picture.nil? && art.picture.image.exists? %> <%= image_tag(art.picture.image.url(:index), class: "img-responsive zoom-img") %><% else %> <%= image_tag('placeholder_index.png', class: "img-responsive zoom-img") %> <% end %> </a>
              <div class="product-bottom">
                <h3><a data-toggle="modal" data-target="#ModalId<%= art.id %>"><%= art.title %></a></h3>
                <!--NOTE: kratki opis od jednog reda-->

                <% if art.short_description != nil  && art.short_description != "" %>
                  <h4><%= art.short_description  %></h4>
                <% else %>
                  <h4>-</h4>
                <% end %>

                <% if art.discount > 0 %>
                    <h4><a data-toggle="modal" data-target="#ModalId<%= art.id %>" onclick="$(window).trigger('resize'); $(window).trigger('resize');"> <i></i> </a>
                      <span class=" item_price"><%= number_to_currency(art.cost-(art.cost*art.discount/100), :unit => 'Kn', :format => "%n %u") %></span>
                      <span class=" item_price_light" style="text-decoration: line-through; color: grey;"><%= number_to_currency(art.cost, :unit => 'Kn', :format => "%n %u") %></span>
                    </h4>
                <% else %>
                    <h4><a data-toggle="modal" data-target="#ModalId<%= art.id %>" onclick="$(window).trigger('resize'); $(window).trigger('resize');">  <i></i></a><span class=" item_price"><%= number_to_currency(art.cost, :unit => 'Kn', :format => "%n %u") %></span></h4>
                <% end %>
              </div>
              <% if art.discount > 0 %>
              <div class="srch">
                <span><%= art.discount %>%</span>
              </div>
              <% end %>
            </div>

          </div>
        <%= render partial: 'trgovina/modal_article', locals: {article: art} %>
      <% end %>

      <div class="row">
        <div class="col-md-12">
          <%= paginate articles %>
        </div>
      </div>
    </div>

