<style>
  .example .pagination>li>a,
  .example .pagination>li>span {
    border: 1px solid #1abc9c;
  }
  .pagination>li.active>a {
    background-color: #1abc9c;
    color: #fff;
  }

  .pagination>li a:hover {
    background-color: rgba(26, 188, 156, 0.76);
    color: #fff;
  }

  .heart_liked {
    color: red;
  }
  .heart_liked::before {
    color: red!important;
  }

  .heart_::before{
    color:grey;
  }

  .heart_ {
    right: 18px;
    top: 5px;
    display:block;
    float: right;
    position: absolute;
    z-index: 999;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
  }

  .product-one>a.fa:hover {
    text-decoration: none !important;
    color: rgba(255, 0, 0, 0.6) !important;
    border-radius: 70%;

    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }

  .product-one>a.heart_liked:hover {
    text-decoration: none !important;
    color: rgba(175, 175, 175, 0.81) !important;
    border-radius: 70% !important;

    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }

</style>
<div id="filterrific_results">

  <%= render partial: 'repromaterijal/modal_article', locals: {article: articles.first} %>
  <% articles.each do |art| %>

      <div class="product-one col-md-4 product-left ">
        <% if art.on_discount == true && art.end_date != nil %>
            <div class="timer_popust" >
              <h5><div data-countdown="<%= art.end_date.strftime("%Y/%m/%d %H:%M") %>" style="color: white;"></div></h5>
            </div>
        <% end %>
        <% if user_signed_in? %>
            <% if current_user.liked? art %>
                <%= link_to "", dislike_article_path(art), method: :put , class: 'fa fa-2x fa-heart heart_liked showToolTipForHearts heart_', id: "Heart#{art.id}" , :remote => true, onclick: "heart_like(#{art.id})", title: "Defavoriziraj"%>
            <% else %>
                <%= link_to "", like_article_path(art), method: :put , class: 'fa fa-2x fa-heart showToolTipForHearts heart_', id: "Heart#{art.id}" , :remote => true, onclick: "heart_like(#{art.id})", title: "Favoriziraj"%>
            <%end%>
        <% else %>
            <a data-toggle="modal" data-target="#RegistrationForm" class="fa fa-2x fa-heart showToolTipForHearts heart_shaped" title="Favoriziraj" style=""></a>
        <%end%>
        <div class="product-main simpleCart_shelfItem">

          <!--TODO: upisati naziv slike-->

          <% if art.picture != nil %>
              <a data-toggle="modal" data-target="#ModalId<%= art.id %>" onclick="$(window).trigger('resize'); $(window).trigger('resize');"> <%= image_tag(art.picture.image.url(:index), class: "img-responsive zoom-img" ) %> </a>
          <% else %>
              <a data-toggle="modal" data-target="#ModalId<%= art.id %>" onclick="$(window).trigger('resize'); $(window).trigger('resize');"> <%= image_tag("placeholder_index.png", class: "img-responsive zoom-img" ) %> </a>>
          <% end %>
          <div class="product-bottom">
            <h3><a data-toggle="modal" data-target="#ModalId<%= art.id %>" style="color: #1abc9c;"> <%= art.title %></a></h3>
            <!--NOTE: kratki opis od jednog reda-->

            <% if art.short_description != nil && art.short_description !=""  %>
                <h4><%= art.short_description  %></h4>
            <% else %>
                <h4>-</h4>
            <% end %>

            <% if art.discount.present? && art.discount > 0 %>
                <h4>
                  <a data-toggle="modal" data-target="#ModalId<%= art.id %>" onclick="$(window).trigger('resize'); $(window).trigger('resize');">  <i></i> </a><span class=" item_price"><%= number_to_currency(art.cost-(art.cost*art.discount/100), :unit => 'Kn', :format => "%n %u") %></span>
                  <span class=" item_price_light" style="text-decoration: line-through; color: grey;"><%= number_to_currency(art.cost, :unit => 'Kn', :format => "%n %u") %></span>
                </h4>

            <% else %>
                <h4><a data-toggle="modal" data-target="#ModalId<%= art.id %>" onclick="$(window).trigger('resize'); $(window).trigger('resize');">  <i></i></a><span class=" item_price"><%= number_to_currency(art.cost, :unit => 'Kn', :format => "%n %u") %></span></h4>
            <% end %>
          </div>
          <% if art.discount.present? && art.discount > 0 %>
              <div class="srch">
                <span><%= art.discount %>%</span>
              </div>
          <% end %>
        </div>
      </div>
      <%= render partial: 'repromaterijal/modal_article', locals: {article: art} %>
  <% end %>

</div>

<script>
    function heart_like(e){
        var like = document.getElementById("Heart"+e);
        if(like.classList.contains("heart_liked")) {
            like.classList.remove("heart_liked");
            like.setAttribute('href',"/articles/" + e + "/like");
        }else{
            like.classList.add("heart_liked");
            like.setAttribute('href',"/articles/" + e + "/dislike");
        }
    }
</script>