<style>
  .next_page_button {
    font-size: 1.2em;
    padding: 4px 11px;
    border: 1px solid #1abc9c;
    color: #1abc9c;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
  }

  .next_page_button:hover {
    background-color: #1abc9c;
    color: white;
  }

</style>
<div class="bnr" id="home">
  <div id="top" class="callbacks_container">
    <ul class="rslides" id="slider4">
      <% ShopBanner.where(active: true).each do |bann| %>
          <li>
            <%=image_tag(bann.image.url(:bannsm)) %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="clearfix"> </div>
</div>
<!--bottom-header-->
<!--start-breadcrumbs-->

<!--end-breadcrumbs-->
<!--prdt-starts-->


<%= form_for_filterrific @filterrific, remote: false do |f| %>
    <div class="prdt" style="padding-top: 35px;" id="articles_container_prdt">
      <div class="container">
        <h2><i class="fa fa-heart heart_liked fa-2x"></i> Moji Favoriti</h2>
        <hr>
        <div class="prdt-top">

          <div class="col-md-9 prdt-left">

            <%= render_filterrific_spinner %>
            <div class="infinite-table">
              <table>
                <tr></tr>

                <%= render(
                        partial: 'favorites/show_pics',
                        locals: { articles: @articles }
                    ) %>

              </table>

              <p class="pagination" style="width: 100%; margin-top: 50px;">
                <%= link_to_next_page(@articles, "Next", :remote => true, id: "next_page_infinite", class: "btn btn-default next_page_button", style: "width: 100%;", onclick: "append_or_html = 1;") %>
              </p>
            </div>
          </div>

          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>

          <div class="col-md-3 prdt-right">
            <div class="w_sidebar follow-scroll">

              <section class="sky-form">
                <h4>Pretraga</h4>
                <div class="row1 scroll-pane">

                  <div class="col col-4">
                    <%= f.text_field(
                            :search_query,
                            class: 'form-control filterrific-periodically-observed', placeholder: "pretraga proizvoda..."
                        ) %>

                  </div>
                </div>
              </section>

              <%# give the search field the 'filterrific-periodically-observed' class for live updates %>

            </div>
          </div>
<% end %>
<div class="clearfix"></div>

</div>
</div>
</div><!--product-end-->
<!--kraj sidebara -->
<!--product-end-->

<script>

    $('[data-countdown]').each(function () {
        var $this = $(this), finalDate = $(this).data('countdown');
        $this.countdown(finalDate, function (event) {
            $this.html(event.strftime('%D dana %H:%M:%S'));
        });
    });
</script>

<script>
    night_day = sessionStorage.getItem("night_day");

    function night_mode(){
        //$('body').css('background', 'url("/assets/low_contrast_linen.png") top left repeat');
        document.body.style.background = 'url(/assets/assault.png) top left repeat';
        var cols =     document.getElementsByClassName('row1');
        for(i=0; i<cols.length; i++) {
            cols[i].style.backgroundColor =    'white';
        }
        var cols2 =     document.getElementsByClassName('js-irs-0');
        for(i=0; i<cols2.length; i++) {
            cols2[i].style.backgroundColor =    'white';
        }
        var button = document.getElementById('NightAndDay');
        button.innerHTML = "Dnevni način";
        button.setAttribute( "onClick", "javascript: day_mode();" );

        var topTitle = document.getElementById('topTitle');
        topTitle.style.color = 'white';

        night_day = "night";
        sessionStorage.setItem("night_day", night_day);
    }

    function day_mode(){
        //$('body').css('background', 'url("/assets/low_contrast_linen.png") top left repeat');
        var path = window.location.host;
        document.body.style.background = 'url(/assets/swirl.png) top left repeat';

        var button = document.getElementById('NightAndDay');
        button.innerHTML = "Noćni način";
        button.setAttribute( "onClick", "javascript: night_mode();" );

        var topTitle = document.getElementById('topTitle');
        topTitle.style.color = 'black';

        night_day = "day";
        sessionStorage.setItem("night_day", night_day);
    }

    var cols =     document.getElementsByClassName('row1');
    for(i=0; i<cols.length; i++) {
        cols[i].style.backgroundColor =    'white';
    }
    var cols2 =     document.getElementsByClassName('js-irs-0');
    for(i=0; i<cols2.length; i++) {
        cols2[i].style.backgroundColor =    'white';
    }

    if(night_day === "night"){
        //$('body').css('background', 'url("/assets/low_contrast_linen.png") top left repeat');
        var path = window.location.host;
        document.body.style.background = 'url(/assets/assault.png) top left repeat';
        var cols =     document.getElementsByClassName('row1');
        for(i=0; i<cols.length; i++) {
            cols[i].style.backgroundColor =    'white';
        }
        var cols2 =     document.getElementsByClassName('js-irs-0');
        for(i=0; i<cols2.length; i++) {
            cols2[i].style.backgroundColor =    'white';
        }
        var button = document.getElementById('NightAndDay');
        button.innerHTML = "Dnevni način";
        button.setAttribute( "onClick", "javascript: day_mode();" );

        var topTitle = document.getElementById('topTitle');
        topTitle.style.color = 'white';
    }else{
        //$('body').css('background', 'url("/assets/low_contrast_linen.png") top left repeat');
        document.body.style.background = 'url(/assets/swirl.png) top left repeat';

        var button = document.getElementById('NightAndDay');
        button.innerHTML = "Noćni način";
        button.setAttribute( "onClick", "javascript: night_mode();" );

        var topTitle = document.getElementById('topTitle');
        topTitle.style.color = 'black';
    }

</script>

<script>
    function testScroll(ev){
        if(window.pageYOffset>250) document.getElementById('NightAndDay').style.opacity = .4;
        if(window.pageYOffset<20) document.getElementById('NightAndDay').style.opacity = 1;
    }
    window.onscroll=testScroll;
</script>

<script>
    (function ($) {
        var element = $('.follow-scroll'),
            originalY = element.offset().top + 150;

        // Space between element and top of screen (when scrolling)
        var topMargin = 0;

        // Should probably be set in CSS; but here just for emphasis
        element.css('position', 'relative');

        $(window).on('scroll', function (event) {
            var scrollTop = $(window).scrollTop();

            element.stop(false, false).animate({
                top: scrollTop < originalY ?
                    0 : scrollTop - originalY + topMargin
            }, 350);
        });
    })(jQuery);

    //$(".prdt-right").stick_in_parent();

    function append_to_next(){
        append_or_html = 1;
        $("#next_page_infinite").attr("disabled", "disabled");
    }

    $(document).ready(function () {
        $("#next_page_infinite").on("click", function() {
            $(this).attr("disabled", "disabled");
        });
    });
</script>
