<div class="bnr" id="home">
  <div id="top" class="callbacks_container">
    <ul class="rslides" id="slider4">
      <% ShopBanner.where(active: true).each do |bann| %>
          <li>
            <%=image_tag(bann.image.url(:bannsm)) %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="clearfix"> </div>
</div>
<div class="prdt">
  <div class="container">
    <div class="prdt-top">
      <div class="col-md-9 prdt-left">
<% if  @articles.nil? || @articles.empty? %>
  <h2>Nema traženog artikla...</h2>
<% else %>
            <% @articles.each do |art| %>

                <div class="product-one col-md-4 product-left ">
                  <% if art.on_discount == true && art.end_date != nil %>
                      <div class="timer_popust" >
                        <h5><div data-countdown="<%= art.end_date.strftime("%Y/%m/%d %H:%M") %>" style="color: white;"></div></h5>
                      </div>
                  <% end %>
                  <% if user_signed_in? %>
                      <% if current_user.liked? art %>
                          <%= link_to "", dislike_article_path(art), method: :put , class: 'fa fa-2x fa-heart heart_liked showToolTipForHearts heart_', id: "Heart#{art.id}" , :remote => true, onclick: "heart_like(#{art.id})", title: "Defavoriziraj"%>
                      <% else %>
                          <%= link_to "", like_article_path(art), method: :put , class: 'fa fa-2x fa-heart showToolTipForHearts heart_', id: "Heart#{art.id}" , :remote => true, onclick: "heart_like(#{art.id})", title: "Favoriziraj"%>
                      <%end%>
                  <% else %>
                      <a data-toggle="modal" data-target="#RegistrationForm" class="fa fa-2x fa-heart showToolTipForHearts heart_" title="Favoriziraj" style=""></a>
                  <%end%>
                  <div class="product-main simpleCart_shelfItem">

                    <!--TODO: upisati naziv slike-->

                    <% if art.picture != nil %>
                        <a data-toggle="modal" data-target="#ModalId<%= art.id %>" onclick="$(window).trigger('resize'); $(window).trigger('resize');"> <%= image_tag(art.picture.image.url(:index), class: "img-responsive zoom-img" ) %> </a>
                    <% else %>
                        <a data-toggle="modal" data-target="#ModalId<%= art.id %>" onclick="$(window).trigger('resize'); $(window).trigger('resize');"> <%= image_tag("placeholder_index.png", class: "img-responsive zoom-img" ) %> </a>>
                    <% end %>
                    <div class="product-bottom">
                      <h3><a data-toggle="modal" data-target="#ModalId<%= art.id %>" style="color: #1abc9c;"> <%= art.title %></a></h3>
                      <!--NOTE: kratki opis od jednog reda-->

                      <% if art.short_description != nil && art.short_description !=""  %>
                          <h4><%= art.short_description  %></h4>
                      <% else %>
                          <h4>-</h4>
                      <% end %>

                      <% if art.discount > 0 %>
                          <h4>
                            <a data-toggle="modal" data-target="#ModalId<%= art.id %>" onclick="$(window).trigger('resize'); $(window).trigger('resize');">  <i></i> </a><span class=" item_price"><%= number_to_currency(art.cost-(art.cost*art.discount/100), :unit => 'Kn', :format => "%n %u") %></span>
                            <span class=" item_price_light" style="text-decoration: line-through; color: grey;"><%= number_to_currency(art.cost, :unit => 'Kn', :format => "%n %u") %></span>
                          </h4>

                      <% else %>
                          <h4><a data-toggle="modal" data-target="#ModalId<%= art.id %>" onclick="$(window).trigger('resize'); $(window).trigger('resize');">  <i></i></a><span class=" item_price"><%= number_to_currency(art.cost, :unit => 'Kn', :format => "%n %u") %></span></h4>
                      <% end %>
                    </div>
                    <% if art.discount > 0 %>
                        <div class="srch">
                          <span><%= art.discount %>%</span>
                        </div>
                    <% end %>
                  </div>
                </div>
                <%= render partial: 'repromaterijal/modal_article', locals: {article: art} %>

            <% end %>
            <%=  paginate @articles %>
<% end %>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<script>
    function heart_like(e){
        var like = document.getElementById("Heart"+e);
        if(like.classList.contains("heart_liked")) {
            like.classList.remove("heart_liked");
            like.setAttribute('href',"/articles/" + e + "/like");
        }else{
            like.classList.add("heart_liked");
            like.setAttribute('href',"/articles/" + e + "/dislike");
        }
    }
</script>