<!-- Modal -->
<div id="informationDialog" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="color: black;">&times;</button>
        <h4 class="modal-title">Informacije o dostavi</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for UsersPurchase.new, url: purchases_path, method: :post do |f| %>
            <h4>Email
              <small> adresa na koju želite da dostavimo račun!</small>
            </h4>
            <%= f.input :coupon_id, hidden: true, input_html: {id: 'couponValue'}, as: :hidden%>
            <%= f.input :email, label: false, required: true, input_html: {value: current_user.email} %>
            <%= f.label "Država" %>
            <%= country_select("users_purchase", "country", {priority_countries: ["HR", "BA", "SI"], selected: current_user.state}, {class: 'form-control', style: "margin-bottom: 10px;", data: {attribute: "value"}}) %>
            <div class="row">
              <div class="col-md-6" style="padding: 0;">
                <%= f.input :postal_code, label: "Poštanski broj", required: true, input_html: {value: current_user.postcode} %>
              </div>
              <div class="col-md-6" style="padding: 0; padding-left: 10px;">
                <%= f.input :city, label: "Grad", required: true, input_html: {value: current_user.city} %>
              </div>
            </div>
            <%= f.input :address, label: "Adresa", required: true, input_html: {value: current_user.address} %>
            <%= f.input :phone_num, label: "Broj tel./mob.", required: true, input_html: {value: current_user.phone} %>
            <%= f.input :remark, label: "Napomena", as: :text %>
            <%= f.label "Metoda plaćanja" %>
            <div class="row">

            <%= f.collection_radio_buttons(:payment_method, [ ['Credit card', 'credit-card.png'], ['Pri pouzeću', 'pouzece.png'], ['Plaćanje virmanom', 'invoice.png']],
                                           :first, :last, :checked => ['Paypal', 'paypal.png'], :item_wrapper_class => 'horizontal',
                                           :onclick => 'alert_if_option_selected()', :id => 'payment_method_select') do |method| %>
              <div class="col-md-1">
                <%= method.radio_button :onclick => "alert_if_option_selected('#{method.value}')" %>
              </div>
              <div class="col-md-1">
                <%= image_tag(method.text, title: method.value, class: 'showTooltipPayment', :onclick => 'alert_if_option_selected()' ) %>
              </div>
            <% end %>

              <div class="alert alert-danger" role="alert" style="display: none;" id="alert_if_extra_cost">
                <% extra_cost = @shopping_cart.current_cost < 400 ? 28 : 5 %>
                Kod odabira plaćanja 'Pri pouzeću' na ukupnu cijenu se dodaje <span style="font-size: 120%; font-weight: bold">5 Kn</span> te vaša ukupna cijena iznosi <span style="font-size: 120%; font-weight: bold" id="pouzeceCijena"> <%= number_to_currency(@shopping_cart.current_cost+extra_cost, :unit => 'Kn', :format => "%n %u") %></span>
              </div>
            </div>
            <br/>
            <%= recaptcha_tags callback: 'enableBtn' %>
            <%= f.button :submit, "Kupi", id: 'submit_shopping_cart_button', style: "background-color: #1abc9c; color: white; width:100%;", data: {confirm: 'Ovime potvrđujete da su podaci ispravni'} %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
      </div>
    </div>

  </div>
</div>
</div>
<script>

    document.getElementById("submit_shopping_cart_button").disabled = true;

    function enableBtn() {
        document.getElementById("submit_shopping_cart_button").disabled = false;
    }

    $('.showTooltipPayment').tooltip({show: {effect:"none", delay:100}});

    function alert_if_option_selected(e){
        if(e.indexOf('pouze') !== -1){
          document.getElementById('alert_if_extra_cost').style.display = "block";
        }else{
          document.getElementById('alert_if_extra_cost').style.display = "none";
        }
    }




</script>