<%= render partial: 'modal_information' if user_signed_in?%>
<div class="container">
<div id="fakeLoader"></div>
</div>
<script type="text/javascript">
    $("#fakeLoader").fakeLoader({
        timeToHide:500, //Time in milliseconds for fakeLoader disappear
        zIndex:"99999",//Default zIndex
        spinner:"spinner3",//Options: 'spinner1', 'spinner2', 'spinner3', 'spinner4', 'spinner5', 'spinner6', 'spinner7'
        bgColor:"#1abc9c"//Hex, RGB or RGBA colors
        //imagePath:"preloader.png" //If you want can you insert your custom image
    });
</script>
<% unless flash[:recaptcha_error].nil? %>
    <div class="container">
      <div class="alert alert-danger" role="alert"><%= flash[:recaptcha_error].html_safe %></div>
    </div>
<% end %>

<div class="panel panel-default" style="background-color: #1abc9c; margin: 25px 25px 25px 25px; ">

  <div class="panel-body" >

<ul class="list-group">

  <li class="list-group-item"  >
    <div class="row" >

      <div class="col-xs-6 col-md-1">

      </div>

      <div class="col-xs-6 col-md-3">
        <div class="item-title"> Naziv Artikla </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="col-xs-6 col-md-1" style="width: auto; height: auto;">

        </div>

        <div class="col-xs-6 col-md-2" style="width: auto; height:auto;">
          <div class="item-title"> Količina</div>
        </div>

        <div class="col-xs-6 col-md-2" style="width: auto; height: auto;">

        </div>
      </div>


      <div class="col-xs-6 col-md-2">
        <div class="item-title"  style="text-align: right;"> Pojedinačna Cijena </div>
      </div>

      <div class="col-xs-6 col-md-2" style="text-align: right;">
        <div class="item-title"> Cijena </div>
      </div>

    </div>
  </li>



  <% if current_user != nil %>
      <% if @shopping_cart.carts_articles.empty?%>
          <li class="list-group-item"  >
            <div class="row" >
              <div class="col-xs-6 col-md-6" >
                <h2>Trenutno nemate ništa u košarici...</h2>
              </div>
            </div>
          </li>
          <li class="list-group-item"  >
            <div class="row" >
              <div class="col-xs-6 col-md-6" >

              </div>
            </div>
          </li>

      <% end %>
<% @shopping_cart.carts_articles.each do |a| %>



<!-- #TODO popusti -->
      <li class="list-group-item"  >
    <div class="row" >
      <% if !a.article.nil? %>
      <div class="col-xs-6 col-md-1" >
        <% if a.article.picture != nil %>
            <%= image_tag(a.article.picture.image.url(:table)) %>
        <% else %>
            <%=image_tag("default-placeholder.png", class: "productimg" ) %>
        <% end %>

      </div>

      <div class="col-xs-6 col-md-3" >
        <div class="item-title"> <%=  a.article.title+" (#{a.article.code})" %> </div>
      </div>

      <div class="col-xs-6 col-md-4">
      <div class="col-xs-6 col-md-1" style="width: auto; height: auto;">
        <%= link_to '-', shopping_carts_destroy_path(a.article.id ), class: "btn btn-default" %>
      </div>

      <div class="col-xs-6 col-md-2" style="width: auto; height:auto;">
        <div class="item-title"> <%=  a.amount %></div>
      </div>

      <div class="col-xs-6 col-md-2" style="width: auto; height: auto;">
        <%= link_to '+', carts_articles_create_path(a.article.id, :article => {:amount => 1}), class: "btn btn-default " %>
      </div>
      </div>


      <div class="col-xs-6 col-md-2">
        <div class="item-price" style="text-align: right;"><%=  number_to_currency(a.cost, :unit => 'Kn', :format => "%n %u")  %></div>
      </div>

      <div class="col-xs-6 col-md-2" style="text-align: right;">
        <div class="item-price"><%=  number_to_currency(a.cost*a.amount, :unit => 'Kn', :format => "%n %u")  %></div>
      </div>

    <% elsif !a.single_article.nil? %>
          <div class="col-xs-6 col-md-1" >
            <% if a.single_article.article.picture != nil %>
                <%= image_tag(a.single_article.article.picture.image.url(:table)) %>
            <% else %>
                <%=image_tag("default-placeholder-2.png", class: "productimg" ) %>
            <% end %>
          </div>

          <div class="col-xs-6 col-md-3" >
            <div class="item-title"> <%=  a.single_article.title+" (#{a.single_article.code})"  %> </div>
          </div>

          <div class="col-xs-6 col-md-4">
            <div class="col-xs-6 col-md-1" style="width: auto; height: auto;">
              <%= link_to '-', destroy_single_shopping_carts_path(a.single_article.id ), :method => :put, class: "btn btn-default" %>
            </div>

            <div class="col-xs-6 col-md-2" style="width: auto; height:auto;">
              <div class="item-title"> <%=  a.amount %></div>
            </div>

            <div class="col-xs-6 col-md-2" style="width: auto; height: auto;">

              <%= link_to '+', create_single_carts_articles_path(id: a.single_article.id), :method => :post, class: "btn btn-default " %>

            </div>
          </div>

          <div class="col-xs-6 col-md-2">
            <div class="item-price" style="text-align: right;"><%=  number_to_currency(a.cost, :unit => 'Kn', :format => "%n %u")  %></div>
          </div>

          <div class="col-xs-6 col-md-2" style="text-align: right;">
            <div class="item-price"><%=  number_to_currency(a.cost*a.amount, :unit => 'Kn', :format => "%n %u")  %></div>
          </div>

    <% else %>


          <div class="col-xs-6 col-md-1" >
            <% if a.complement.picture != nil %>
                <%= image_tag(a.complement.picture.image.url(:table)) %>
            <% else %>
                <%=image_tag("default-placeholder-2.png", class: "productimg" ) %>
            <% end %>
          </div>

          <div class="col-xs-6 col-md-3" >
            <div class="item-title"> <%=  a.complement.title  %> </div>
          </div>

          <div class="col-xs-6 col-md-4">
            <div class="col-xs-6 col-md-1" style="width: auto; height: auto;">
              <%= link_to '-', destroy_complement_shopping_carts_path(a.complement.id ), :method => :put, class: "btn btn-default" %>
            </div>

            <div class="col-xs-6 col-md-2" style="width: auto; height:auto;">
              <div class="item-title"> <%=  a.amount %></div>
            </div>

            <div class="col-xs-6 col-md-2" style="width: auto; height: auto;">
              <%= link_to '+', create_complement_carts_articles_path(a.complement.id ), :method => :put, class: "btn btn-default " %>
            </div>
          </div>

          <div class="col-xs-6 col-md-2">
            <div class="item-price" style="text-align: right;"><%if !a.complement.on_discount.nil? && !a.complement.on_discount? && a.complement.discount != 0 %> <%=  number_to_currency((a.complement.cost-(a.complement.cost*a.complement.discount/100)), :unit => 'Kn', :format => "%n %u")  %> <% else %> <%=  number_to_currency(a.complement.cost, :unit => 'Kn', :format => "%n %u")  %> <% end %></div>
          </div>

          <div class="col-xs-6 col-md-2" style="text-align: right;">
            <div class="item-price"><%if !a.complement.on_discount.nil? && !a.complement.on_discount? && a.complement.discount != 0 %> <%=  number_to_currency((a.complement.cost-(a.complement.cost*a.single_article.article.discount/100))*a.amount, :unit => 'Kn', :format => "%n %u")  %> <% else %> <%=  number_to_currency(a.complement.cost*a.amount, :unit => 'Kn', :format => "%n %u")  %> <% end %></div>
          </div>

    <% end %>
    </div>
      </li>
    <% end %>
  <li class="list-group-item"  >
    <div class="row" >
      <div class="col-xs-6 col-md-12">
    <div class="item-title" style="text-align: right;">Ukupna cijena izabranih proizvoda je:</div>

    <% if current_user != nil %>
        <div style="text-align: right"><p>Bez PDV-a: <%= number_to_currency(@cijena_bez_pdv = (@shopping_cart.current_cost-(@shopping_cart.current_cost*0.2)), :unit => 'Kn', :format => "%n %u") %></p></div>
        <div style="text-align: right"><p>PDV: <%= number_to_currency(@shopping_cart.current_cost - @cijena_bez_pdv, :unit => 'Kn', :format => "%n %u") %> </p></div>
        <% @shipping_cost = 0 %>  
        <% if @shopping_cart.current_cost < 400 %>
        <% @shipping_cost = 23 %>
        <div style="text-align: right"><p>Cijena poštarine: <b><%= number_to_currency(23, :unit => 'Kn', :format => "%n %u") %> </b></p></div>
        <% end %>
        <div class="item-price"  style="text-align: right; font-size: 210%;" id="totalPrice" value="<%= @shopping_cart.current_cost+@shipping_cost %>"><hr><%= number_to_currency(@shopping_cart.current_cost+@shipping_cost, :unit => 'Kn', :format => "%n %u") unless @shopping_cart.carts_articles.empty?  %></div>
        <div class="item-price"  style="text-align: right; font-size: 200%; color: red;" id="discount"></div>
        <div class="item-price"  style="text-align: right; font-size: 200%; color: green" id="discountTotalPrice"></div>
        </br>
    <% end %>
        </div>
    </div>
  </li>

      <% else %>
      <% if $no_user_articles.nil?%>
          <li class="list-group-item"  >
            <div class="row" >
              <div class="col-xs-6 col-md-6" >
                <h2>Trenutno nemate ništa u košarici...</h2>
              </div>
            </div>
          </li>
          <li class="list-group-item"  >
            <div class="row" >
              <div class="col-xs-6 col-md-6" >

              </div>
            </div>
          </li>

      <% end %>
        <% $no_user_articles.each do |k, v| %>
          <% @no_articles.each do |a| %>

              <% if a.id == k.to_i %>
              <li class="list-group-item"  >
                <div class="row" >

                  <div class="col-xs-6 col-md-1" >
                  <% if a.picture != nil %>
                      <%= image_tag(a.picture.image.url(:table)) %>
                  <% else %>
                      <%=image_tag("default-placeholder.png", class: "productimg" ) %>
                  <% end %>

                </div>

                <div class="col-xs-6 col-md-3" >
                  <div class="item-title"> <%=  a.title+" (#{a.code})"  %> </div>
                </div>

                <div class="col-xs-6 col-md-4">
                  <div class="col-xs-6 col-md-1" style="width: auto; height: auto;">
                    <%= link_to '-', shopping_carts_destroy_path(a.id ), class: "btn btn-default" %>
                  </div>

                  <div class="col-xs-6 col-md-2" style="width: auto; height:auto;">
                    <div class="item-title"> <%=  "#{v}" %></div>
                  </div>

                  <div class="col-xs-6 col-md-2" style="width: auto; height: auto;">
                    <%= link_to '+', carts_articles_create_path(a.id ), class: "btn btn-default " %>
                  </div>
                </div>

                <div class="col-xs-6 col-md-2">
                  <div class="item-price" style="text-align: right;"><%if a.on_discount && a.discount != 0 %> <%=  number_to_currency((a.cost-(a.cost*a.discount/100)), :unit => 'Kn', :format => "%n %u")  %> <% else %> <%=  number_to_currency(a.cost, :unit => 'Kn', :format => "%n %u")  %> <% end %></div>
                </div>

                <div class="col-xs-6 col-md-2" style="text-align: right;">
                <div id="divCheckbox" style="display: none;"></div>
                  <div class="item-price"><%if a.on_discount && a.discount != 0 %> <%=  number_to_currency((a.cost-(a.cost*a.discount/100))*v, :unit => 'Kn', :format => "%n %u")  %> <% else %> <%=  number_to_currency(a.cost*v, :unit => 'Kn', :format => "%n %u")  %> <% end %></div>
                </div>

              <% end %>
          <% end %>

          </div>
          </li>
         <% end %>

      <% $no_user_single_articles.each do |k, v| %>
          <% @sa.each do |a| %>
              <% if a.id == k %>
                  <li class="list-group-item"  >
                    <div class="row" >

                      <div class="col-xs-6 col-md-1" >
                        <% if a.article.pictures.first != nil %>
                            <%= image_tag(a.article.pictures.first.image.url(:table)) %>
                        <% else %>
                            <%=image_tag("default-placeholder.png", class: "productimg" ) %>
                        <% end %>

                      </div>

                      <div class="col-xs-6 col-md-3" >
                        <div class="item-title"> <%=  a.title  %> </div>
                      </div>

                      <div class="col-xs-6 col-md-4">
                        <div class="col-xs-6 col-md-1" style="width: auto; height: auto;">
                          <%= link_to '-', min_no_user_carts_articles_path(a.id ), :method => :put ,class: "btn btn-default" %>
                        </div>

                        <div class="col-xs-6 col-md-2" style="width: auto; height:auto;">
                          <div class="item-title"> <%=  "#{v}" %></div>
                        </div>

                        <div class="col-xs-6 col-md-2" style="width: auto; height: auto;">
                          <%= link_to '+', plus_no_user_carts_articles_path(a.id ), :method => :put, class: "btn btn-default " %>
                        </div>
                      </div>

                      <div class="col-xs-6 col-md-2">
                        <div class="item-price" style="text-align: right;"><%if !a.article.on_discount.nil? && !a.article.on_discount? && a.article.discount != 0 %> <%=  number_to_currency((a.article.cost-(a.article.cost*a.article.discount/100)), :unit => 'Kn', :format => "%n %u")  %> <% else %> <%=  number_to_currency(a.article.cost, :unit => 'Kn', :format => "%n %u")  %> <% end %></div>
                      </div>

                      <div class="col-xs-6 col-md-2" style="text-align: right;">
                        <div class="item-price"><%if !a.article.on_discount.nil? && !a.article.on_discount? && a.article.discount != 0 %> <%=  number_to_currency((a.article.cost-(a.article.cost*a.article.discount/100))*v, :unit => 'Kn', :format => "%n %u")  %> <% else %> <%=  number_to_currency(a.article.cost*v, :unit => 'Kn', :format => "%n %u")  %> <% end %></div>
                      </div>

              <% end %>
          <% end %>

          </div>
          </li>
      <% end %>

      <li class="list-group-item"  >
        <div class="row" >
          <div class="col-xs-6 col-md-12">
            <div class="item-title" style="text-align: right;">Ukupna cijena izabranih proizvoda je:</div>

            <div style="text-align: right"><p>Bez PDV-a: <%= number_to_currency(@cijena_bez_pdv = ($items_cost-($items_cost*0.2)), :unit => 'Kn', :format => "%n %u") %></p></div>
            <div style="text-align: right"><p>PDV: <%= number_to_currency($items_cost - @cijena_bez_pdv, :unit => 'Kn', :format => "%n %u") %> </p></div>
            <% @shipping_cost = 0 %>  
            <% if @shopping_cart.current_cost < 400 %>
              <% @shipping_cost = 23 %>
              <div style="text-align: right"><p>Cijena poštarine: <%= number_to_currency(23, :unit => 'Kn', :format => "%n %u") %> </p></div>
            <% end %>
            <div class="item-price"  style="text-align: right; font-size: 200%;" id="totalPrice" value="<%= $items_cost+@shipping_cost %>"><hr><%= number_to_currency($items_cost+@shipping_cost, :unit => 'Kn', :format => "%n %u") unless $items_cost.nil? || $items_cost <= 0 %></div>
            <div class="item-price"  style="text-align: right; font-size: 200%; color: red;" id="discount"></div>
            <div class="item-price"  style="text-align: right; font-size: 200%;" id="discountTotalPrice"></div>
            </br>

          </div>
        </div>
      </li>

      <% end %>

</ul>


<div style="margin-top: 20px;">
<div class="row">
<div class="col-md-2"><input placeholder="Unesi kupon" style="display: inline-block;" class="form-control" type="text" name="coupon" id="couponId"></div>
<div class="col-md-1"><input id="submitCoupon" class="btn btn-default" type="submit" value="Primjeni"></div>
<div class="col-md-6 pull-right"><%= link_to 'Kupi', user_signed_in? ? "#" : new_user_registration_path, class: "btn btn-default pull-right btn-lg" , style:"margin-right: 15px",  disabled: (true if @shopping_cart.present? && @shopping_cart.carts_articles.empty?), data: {toggle:user_signed_in? ? "modal" : "", target:user_signed_in? ? "#informationDialog" : ""} %></div>
</div></div>

<script>
$("#submitCoupon").click(function(){
    var code = $('#couponId').val();
    if (code.length === 0) {
      alert("Molimo unesite kupon prije primjene");
    }else {
      $.post("/shopping_carts/check_coupon",
      {
        coupon:
        {
          code: code
        }
      },
      function(data, status){
        if (status == "success") {
          $("#couponValue").val(parseInt(data.coupon.id));
          var price = parseFloat($("#totalPrice").attr("value")).toFixed(2);
          var discount = price*parseFloat(data.coupon.discount/100).toFixed(2);
          var discountedPrice = price-discount;
          $("#discount").text("-"+parseFloat(discount).toFixed(2)+" Kn");
          $("#discountTotalPrice").text("Cijena s kuponom: "+parseFloat(discountedPrice).toFixed(2)+" Kn");
          $("#pouzeceCijena").text(parseFloat(discountedPrice+5).toFixed(2)+" Kn");
        } else {
          alert("Unijeli ste neispravan kupon!");
        }  
      });
    }
});
</script>

</div></div>
</div>

<script>

    night_day = sessionStorage.getItem("night_day");

    function night_mode(){
        //$('body').css('background', 'url("/assets/low_contrast_linen.png") top left repeat');
        document.body.style.background = 'url(/assets/assault.png) top left repeat';
        var cols =     document.getElementsByClassName('row1');
        for(i=0; i<cols.length; i++) {
            cols[i].style.backgroundColor =    'white';
        }
        var cols2 =     document.getElementsByClassName('js-irs-0');
        for(i=0; i<cols2.length; i++) {
            cols2[i].style.backgroundColor =    'white';
        }
        var button = document.getElementById('NightAndDay');
        button.innerHTML = "Dnevni način";
        button.setAttribute( "onClick", "javascript: day_mode();" );

        var topTitle = document.getElementById('topTitle');
        topTitle.style.color = 'white';

        night_day = "night";
        sessionStorage.setItem("night_day", night_day);
    }

    function day_mode(){
        //$('body').css('background', 'url("/assets/low_contrast_linen.png") top left repeat');
        var path = window.location.host;
        document.body.style.background = 'url(/assets/swirl.png) top left repeat';

        var button = document.getElementById('NightAndDay');
        button.innerHTML = "Noćni način";
        button.setAttribute( "onClick", "javascript: night_mode();" );

        var topTitle = document.getElementById('topTitle');
        topTitle.style.color = 'black';

        night_day = "day";
        sessionStorage.setItem("night_day", night_day);
    }

    var cols =     document.getElementsByClassName('row1');
    for(i=0; i<cols.length; i++) {
        cols[i].style.backgroundColor =    'white';
    }
    var cols2 =     document.getElementsByClassName('js-irs-0');
    for(i=0; i<cols2.length; i++) {
        cols2[i].style.backgroundColor =    'white';
    }

    if(night_day === "night"){
        //$('body').css('background', 'url("/assets/low_contrast_linen.png") top left repeat');
        var path = window.location.host;
        document.body.style.background = 'url(/assets/assault.png) top left repeat';
        var cols =     document.getElementsByClassName('row1');
        for(i=0; i<cols.length; i++) {
            cols[i].style.backgroundColor =    'white';
        }
        var cols2 =     document.getElementsByClassName('js-irs-0');
        for(i=0; i<cols2.length; i++) {
            cols2[i].style.backgroundColor =    'white';
        }
        var button = document.getElementById('NightAndDay');
        button.innerHTML = "Dnevni način";
        button.setAttribute( "onClick", "javascript: day_mode();" );

        var topTitle = document.getElementById('topTitle');
        topTitle.style.color = 'white';
    }else{
        //$('body').css('background', 'url("/assets/low_contrast_linen.png") top left repeat');
        document.body.style.background = 'url(/assets/swirl.png) top left repeat';

        var button = document.getElementById('NightAndDay');
        button.innerHTML = "Noćni način";
        button.setAttribute( "onClick", "javascript: night_mode();" );

        var topTitle = document.getElementById('topTitle');
        topTitle.style.color = 'black';
    }
</script>

