<div class="container">
<h2>Change your password</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nova lozinka" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> znakova minimalno)</em><br />
    <% end %>
    <%= f.input :password,label: false, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Potvrdi novu lozinku" %><br />
    <%= f.input :password_confirmation, label: false, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Promijeni lozinku", class: 'btn btn-default' %>
  </div>
      <br>
<% end %>
</div>
<%= render "devise/shared/links" %>
