<div class="container">
<h2>Zaboravio lozinku?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.input :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Pošalji zahtjev za resetiranje lozinke", class: 'btn btn-default' %>
  </div>
<br>
<% end %>
</div>
<%= render "devise/shared/links" %>
