<style>
  #map {
    height: 400px;
    width: 100%;
  }

  hr.style17 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
  }
  hr.style17:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
  }


</style>
<div class="bnr" id="home">
  <div id="top" class="callbacks_container">
    <ul class="rslides" id="slider4">
      <% ShopBanner.where(active: true).each do |bann| %>
          <li>
            <%=image_tag(bann.image.url(:bannsm)) %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="clearfix"> </div>
</div>
<div class="container">
  <br>
  <h2>O nama</h2>
  <hr class="style17">
  <br>

  <div class="text-center">
  <h1>Argentum Vita d.o.o.</h1>
  <p>Firma Argentum Vita d.o.o. je direktni uvoznik nakita od srebra, koralja, školjki, drveta, čelika, metala, bisera, raznog poludragog kamenja i repromaterijala za izradu nakita.</p>

  <p>Sav naš srebrni nakit je izrađen od srebra 925. Kvaliteta srebra provjerena je u Hrvatskom državnom zavodu za mjeriteljstvo.
    Na svakome pojedinom komadu nakita, težem od 3 grama koji je u cijelosti od srebra ili sadrži samo dijelove srebra nalazi se žig 925 i žig Hrvatskog državnog zavoda za mjeriteljstvo i samim time mislimo da je to najbolja garancija kvalitete srebra koji prodajemo.</p>

  <p>

  </p>
  </div>
</div>
<br>
<div class="container">

  <div class="row-fluid">
    <div class="col-md-8">
      <div id="map"></div>
    </div>

    <div class="col-md-4">
      <h2>Argentum Vita d.o.o.</h2>
      <address>
        <strong></strong><br>
        Prilaz Ivana Visina bb<br>
        10000, Zagreb<br>
        Croatia<br>
        <abbr title="Phone">P:</abbr> 01/6555-086
      </address>
      <br>
      <h4>Radno vrijeme:</h4>
      <p>Ponedjeljak - Petak 9,00-20,00</p>
      <p>Subota 9,00 - 14,00</p>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 25px;">
  <div class="row">
    <div class="col-md-8 col-md-ofset-2">
      <strong>Za sva pitanja i informacije slobodno nam se obratite i na:</strong>
      <p>Mob:  092/245 8716</p>
      <p>E-mail: info@argentumvita.hr</p>

      <strong>Sjedište firme:</strong>
      <p>Argentum Vita d.o.o.</p>
      <p>Vrapčanska 175/2</p>
      <p>10090 Zagreb</p>
      <br>
      <p>OIB: 70900900444</p>
      <p>MB: 080727782</p>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>Tvrtka je upisana u trgovački registar Trgovačkog suda u Zagrebu, Tt-12/10465-2</p>
      <p>Račun u Raiffeisenbank Austria d.d. IBAN: HR3424840081105456648</p>
      <p>Iznos temeljnog kapitala društva 20.000,00 kn iznos uplaćen u cijelosti</p>
    </div>
  </div>
  <br>
    <div class="row">
      <div class="col-md-4">
        <p><b>Član uprave:</b> Maslač Petar</p>
        <p><b>MBS:</b> 080727782</p>
        <p><b>OIB:</b> 70900900444</p>
      </div>

      <div class="col-md-4 col-md-ofset-2">
        <p><b>Sjedište tvrtke:</b></p>
        <p>Argentum Vita d.o.o.</p>
        <p>Vrapčanska 175/2</p>
        <p>10090, Zagreb</p>
      </div>
    </div>




</div>
<br>
<hr class="style17">
<br>
<div class="container" id="CONTACT" >
  <h1>Javite nam se!</h1>
  <%= simple_form_for :email_form, url: contact_us_home_index_path, method: :post , html: {novalidate: false, class: "cf contact_form", style: 'background-color: rgba(81, 81, 81, 0.1); padding-left: 15px; padding-right: 15px; padding-bottom: 15px;'} do |f|%>
    <div class="half left cf">
      <%= f.input :name, label: false, placeholder: 'Ime i prezime', input_html: {id: 'input-name'} %>
      <%= f.input :email, label: false, as: 'email', placeholder: 'Email adresa', input_html: {id: 'input-email email'}, required: true %>
      <%= f.input :subject, label: false, placeholder: 'Tema', input_html: {id: 'input-subject'} %>
      <% unless flash[:recaptcha_error].nil? %>
          <div class="alert alert-danger" role="alert"><%= flash[:recaptcha_error] %></div>
      <% end %>
      <%= recaptcha_tags callback: 'enableBtn' %>
    </div>
    <div class="half right cf">
      <%= f.input :message, label: false, as: :text, placeholder: 'Poruka...', input_html: {id:'input-message'} %>
    </div>
      <%= f.button :submit, 'Pošalji upit', id: 'input-submit', style: 'background-color: #1abc9c' %>
  <% end %>

</div>
<br>
<script>
    function initMap() {
        var uluru = {lat: 45.776826, lng: 15.974306};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAM6jDqg2ZYYPjbeT2i-JmCzCHOJJBODJo&callback=initMap">
</script>