<div class="cart">

  <div class="cart-items">
    <ul>

      <% favorites.order('id DESC').first(8).each do |i| %>

          <li class="clearfix">
            <%= link_to i.votable.title, trgovina_show_path(i.votable.id), class: "item-title", style: "color: #1abc9c;" %>

            <% if i.votable.picture != nil %>
                <%=image_tag(i.votable.picture.image.url(:table), class: "productimg") %>
            <% else %>
                <%=image_tag("default-placeholder.png", class: "productimg" ) %>
            <% end %>

            <div class="row">
              Kod: <%= i.votable.code %>
              <div class="col-md-6">
                <%= link_to 'Defavoriziraj', like_article_path(i.votable), method: :put, style: "color: #1abc9c;", remote: true%>
              </div>
            </div>
            <!--<%= link_to 'remove', shopping_carts_destroy_path(i.votable.id ), style: "color: #1abc9c;" %>-->
          </li>
      <% end %>

    </ul>
  </div>
  <!-- @end cart-items -->
  <%= link_to 'Svi Favoriti', favorites_index_path, class: "checkout" %>
</div>