<style>

</style>
<div class="closewnd modal fade" id="LoginForm" role="dialog" style="top: 100px;">
  <div class="modal-dialog">

    <!-- Modal content -->

    <div class="modal-content" style="border-color: #1abc9c; border-width: 3px;">

      <div class="" style="padding-top: 10px">

          <div class="page-header head-page">
            <h2 style="margin-left: 10px;">Prijava</h2>
          </div>
          <%= flash[:alert] if flash[:alert] %>
          <div style="margin: 30px 30px 30px 30px;" >
            <%= simple_form_for(resource, as: resource_name, html: {class: 'form-horizontal'} , url: session_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="row">
                <%= f.input :email, autofocus: true %>
                </div>
                <div class="row">
                <%= f.input :password, autocomplete: "off" %>
                </div>
                <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                <% end -%>

                <div class="actions">
                  <%= f.button :submit, "Prijavi se", class: "btn btn-success", style: "background-color: #1abc9c; color: white; width:100%;" %>
                </div>
            <% end %>
<hr>
            <%= render "devise/shared/links" %>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
      </div>
    </div>

  </div>
</div>