<div class="modal fade zoom" id="RegistrationForm" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content -->
    <div class="modal-content" style="border-color: #1abc9c; border-width: 3px;">

      <div class="" style="padding-top: 10px">

          <div class="page-header head-page">
            <h2 style="margin-left: 10px;">Registracija</h2>
          </div>
          <div style="margin: 30px 30px 30px 30px;" >
            <%= simple_form_for(resource, html: { class: 'form-horizontal' }, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <%= f.input :name, label: 'Ime i prezime' ,autofocus: true %>

                <%= f.input :date_of_birth, label: 'Datum rođenja', :as => :date, start_year: Date.today.year - 100, end_year: Date.today.year %>

                <div class="form-group">
                  <label>Država</label>
                  <%= country_select("user", "state", {priority_countries: ["HR"]}, { class: 'form-control', data: { attribute: "value" } })  %>
                </div>

                <div class="row">
                  <div class="col-md-4 margin-right-form">
                    <%= f.input :city, label: 'Grad', autofocus: true %>
                  </div>
                  <div class="col-md-4 margin-right-form">
                    <%= f.input :address, label: 'Adresa', autofocus: true %>
                  </div>
                  <div class="col-md-4 margin-right-form">
                    <%= f.input :postcode, label: 'Poštanski broj', autofocus: true %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 margin-right-form">
                    <%= f.input :email, autofocus: true %>
                  </div>
                  <div class="col-md-6 margin-right-form">
                    <%= f.input :phone, label: 'Broj mobitela/telefona', autofocus: true %>
                  </div>
                </div>

                <%= f.input :password, label: 'Lozinka', autocomplete: "off" %>
                <%= f.input :password_confirmation, label: 'Ponovite lozinku', autocomplete: "off" %>
                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
<hr>
                <p>VRATI RECAPTCHU</p>
                <div class="actions">
                  <%= f.button :submit, "Registriraj se", class:"btn btn-success", id: "registration_form_submit_button", style: "background-color: #1abc9c; color: white; width:100%;", data: {confirm: 'Ovime potvrđujete da su podaci ispravni'} %>
                </div>
            <% end %>


          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
      </div>
    </div>

  </div>
</div>

<script>

    document.getElementById("registration_form_submit_button").disabled = true;

    function enableBtn(){
        document.getElementById("registration_form_submit_button").disabled = false;
    }
</script>