<!DOCTYPE html>
<html>
<head>

  <title><%= @main_title %></title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application','//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css','https://fonts.googleapis.com/css?family=Exo+2:400,300,600|Bree+Serif|Nunito:700&subset=latin,latin-ext', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'modal','data-turbolinks-track' => true %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

  <%= favicon_link_tag 'apple-touch-icon-152x152.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "152x152" %>
  <%= favicon_link_tag 'apple-touch-icon-180x180.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "180x180" %>
  <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: "32x32" %>
  <%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: "16x16" %>
  <%= favicon_link_tag "site.webmanifest?v=3eKgN5PbGq", rel: "manifest" %>
  <%= favicon_link_tag "safari-pinned-tab.svg?v=3eKgN5PbGq", rel: "mask-icon", color:"#5bbad5" %>
  <%= favicon_link_tag "favicon.ico?v=3eKgN5PbGq", rel:"shortcut icon" %>
  <%= favicon_link_tag  "assets/site.manifest", rel:"manifest"%>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta
  name="description"
  content=
      "Online trgovina nakita i repromaterijala za izradu nakita,
      srebrni nakit izrađen je od srebra 925,
      srebrne naušnice, srebrne narukvice, srebrne ogrlice,
      srebrno prstenje, srebrni lančići, srebrni privjesci,
      nakit od čelika, modni nakit,
      repromaterijali za izradu nakita, poludrago kamenje,  maloprodaja i veleprodaja"
  />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130564932-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-130564932-1');
  </script>
  <style>
    .pointer-hover:hover {
      cursor: pointer
    }
  </style>

  <%= csrf_meta_tags %>
<div id="fakeLoader"></div>
  <script type="text/javascript">
      $("#fakeLoader").fakeLoader({
          timeToHide:<%= params[:controller] == 'home' && params[:action] == 'index' ? '1000' : '400' %>, //Time in milliseconds for fakeLoader disappear
          zIndex:"99999",//Default zIndex
          spinner:"spinner3",//Options: 'spinner1', 'spinner2', 'spinner3', 'spinner4', 'spinner5', 'spinner6', 'spinner7'
          bgColor:"#1abc9c" //Hex, RGB or RGBA colors
          //imagePath:"preloader.png" //If you want can you insert your custom image
      });
  </script>
</head>
<body>
<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
<%= render 'cookies_eu/consent_banner' %>
<div>
<!--top-header-->

<div class="top-header row" id="top_">
  <div class="top-header-main skyblue">
            <%= link_to root_path do %><%=image_tag("av-color.png", class: "logoav") %><% end %>
            <% if params[:action] != 'about_us_page' && params[:action] != 'contact_page' %><a onclick="night_mode()" id="NightAndDay" class="btn btn-primary btn-sm" style="background-color: #1abc9c; position: absolute;left: 70px;top: 10px;">Noćni način</a><% end %>
    <% if !user_signed_in? && params[:controller].exclude?("sessions") && params[:action].exclude?("about") && params[:action].exclude?("contact") %>
          <a data-toggle="modal" data-target="#LoginForm" class="btn btn-primary btn-sm btnlogin" style="background-color: #1abc9c">Prijava
          </a>
        <% if !user_signed_in? && params[:controller].exclude?("users") && params[:action].exclude?("about") && params[:action].exclude?("contact")  %>
              <a data-toggle="modal" data-target="#RegistrationForm" class="btn btn-primary btn-sm btnregistration" style="background-color: #1abc9c">Registracija
              </a>
        <% end %>
    <% end %>

    <% if user_signed_in? %>
          <%= link_to "Odjava", destroy_user_session_path, :method => :delete,class: "btn btn-primary btn-sm btnlogin", style:"background-color: #1abc9c"%>
    <% end %>
</div>


    <% if params[:controller].exclude?("shopping_cart")%>
    <div class="cart-tab visible" style="top: 60px; z-index: 9998;">
      <% if current_user != nil %>

          <div id="cart_user_partial">
            <%= render partial: 'layouts/cart_user', locals: {shopping_cart: @shopping_cart} %>
          </div>

      <% end %>


      <% if current_user == nil %>

          <div id="cart_partial">
            <%= render partial: 'layouts/cart', locals:
                {
                no_user_articles: @no_user_articles,
                no_articles: @no_articles,
                sa: @sa,
                no_user_single_articles: @no_user_single_articles
                }
            %>
          </div>

      <% end %>
      <!-- @end .cart -->
    </div>
    <!-- @end .cart-tab -->


    <!-- //////////////////////////////////////////////////////////////////// -->
    <% if user_signed_in? %>
      <div class="cart-tab visible favorites" style="top: 120px; z-index: 9998;">
        <a title="View your favorites" class="cart-link">
          <style>
            .favorites_heart::before {
              top: 10px;
            }
          </style>
          <i class="fa fa-heart fa-2x heart-liked favorites_heart" style="color: red;"></i>
          <span class="amount">Moji Favoriti</span>
        </a>
        <div id="favorites_list">
          <%= render partial: 'layouts/favorites', locals: {favorites: current_user.votes} %>
  </div>
</div>
  <% end %>
  <% end %>
  <!-- //////////////////////////////////////////////////////////////////// -->

  <div class="clearfix"></div>
</div>
</div>


<!--top-header-->
<!--start-logo-->
<div class="logo">
  <%= link_to root_path do %><h1 id="topTitle">Argentum Vita</h1><% end %>

</div>

  <div>
    <% if flash[:error]  %>
        <div class="alert alert-danger" role="alert" style="margin: 15px 35px 15px 35px">
          <span class="sr-only">Error:</span>
          <strong>Oprez! <%= flash[:error]  %></strong>
        </div>
    <% end %>

    <% if flash[:success] %>
        <div class="alert alert-success" role="alert" style="margin: 15px 35px 15px 35px">
          <span class="sr-only">Success:</span>
          <strong><%= flash[:success] %></strong>
        </div>
    <% end %>

  </div>

<div>

  <div id="error-alert" class="alert alert-danger alert-dismissible text-center" role="alert" style="display: none">
    <strong id="flash_error"><%= flash[:error] %></strong>
  </div>

  <div id="warning-alert" class="alert alert-warning alert-dismissible text-center" role="alert" style="display: none">
    <h4>
      <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
      <i class="fa fa-diamond fa-2x" aria-hidden="true"></i>
      <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
    </h4>
    <p id="flash_warning"><%= flash[:warning] %></p>
  </div>

  <div id="success-alert" class="alert alert-success alert-dismissible text-center" role="alert" style="display: none">
    <h4>
      <i class="fa fa-diamond fa-2x" aria-hidden="true"></i>
      <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
      <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
    </h4>
    <p id="flash_notice"><%= flash[:notice] %></p>
  </div>

  <div id="purchase-complete-alert" class="alert alert-success alert-dismissible text-center" role="alert" style="display: none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="text-middle">
      <h4>
        <i class="fa fa-shopping-cart fa-4x" aria-hidden="true"> </i>
        <i class="fa fa-arrow-right fa-4x" aria-hidden="true"> </i>
        <i class="fa fa-home fa-4x" aria-hidden="true"> </i>
      </h4>
      <h3 id="purchase_complete"><%= flash[:purchase] %></h3>
    </div>
  </div>

</div>
<!--start-logo-->
<!--bottom-header-->
<div class="header-bottom">
  <div class="container">
    <div class="header">
      <div class="col-md-9 header-left" id="pages-links">
        <div class="top-nav">
          <ul class="memenu skyblue">
            <li class="<%= params[:controller]== 'home' && params[:action] == 'index' ? 'active' : '' %>" ><%= link_to 'Početna', root_path, :method => :get%></li>

            <li class="<%= params[:controller]== 'trgovina' ? 'active' : '' %>"> <%= link_to 'Nakit', categories_trgovina_index_path, :method => :get %>

            <li class="<%= params[:controller]== 'repromaterijal' ? 'active' : '' %>"> <%= link_to 'Repromaterijal', categories_repromaterijal_index_path, :method => :get %>

            <!-- <li class="<%= params[:controller]== 'auctions' ? 'active' : '' %>"> <%= link_to 'Aukcije', auctions_index_path, :method => :get %></li> -->

            <li class="<%= params[:controller]== 'home' && params[:action] == 'about_us_page' ? 'active' : '' %>"><%= link_to 'O nama', about_us_page_path, :method => :get %>
            </li>
            <li class="<%= params[:controller]== 'home' && params[:action] == 'contact_page' ? 'active' : '' %>"><%= link_to 'Kontakt', contact_page_path, :method => :get %>
            </li>
            <li class="<%= params[:controller]== 'home' && params[:action] == 'loyalti_program' ? 'active' : '' %>">
              <%= link_to 'Kako ostvariti osobne popuste?', loyalty_program_home_index_path, :method => :get, style: 'color: turquoise' %>
            </li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-3 header-right" id="search-bar">
        <%= simple_form_for Article.new, url: search_art_articles_path, :method => :put do |f| %>
        <div class="search-bar showTooltipPayment" title="Pretražite po nazivu ili kodu artikla">
          <%= f.input :title, label: false, placeholder: 'pretraga svih artikla...' %>
          <!--<input type="text" value="pretraga" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'pretraga';}">-->
          <!--<input type="submit" value="">-->
          <%= f.button :submit, "", class: 'submit-search' %>
        </div>
        <% end %>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<% if flash[:discount_notice] %>
    <div class="alert alert-success" role="alert" style="margin: 15px 35px 15px 35px; background-color: rgba(52, 136, 119, 0.3);">
      <span class="sr-only"></span>
      <strong><%= flash[:discount_notice].html_safe %></strong>
    </div>
<% end %>

<div id="left-to-discount" class="alert alert-success" role="alert" style="margin: 15px 35px 15px 35px; background-color: rgba(56,175,0,0.5); <%= 'display: none' unless flash[:left_to_discount] %>">
  <span class="sr-only"></span>
  <strong id="left-to-discount-msg"><%= flash[:left_to_discount].html_safe if flash[:left_to_discount] %></strong>
</div>

<%= render partial: 'layouts/login_form' unless (params[:controller].include?("sessions") || params[:controller].include?("home") && (params[:action].include?("about") || params[:action].include?("contact"))) %>
<%= render partial: 'layouts/registration_form' unless (params[:controller].include?("users") || params[:controller].include?("home") && (params[:action].include?("about") || params[:action].include?("contact"))) %>
<%= yield.force_encoding "UTF-8" %>

<!--product-dialog-box-starts-->

<!--product-dialog-box-end-->
<!--information-starts-->

  <div>
    <% if flash[:error]  %>
        <div class="alert alert-danger" role="alert" style="margin: 15px 35px 15px 35px">
          <span class="sr-only">Error:</span>
          <strong>Oprez! <%= flash[:error]  %></strong>
        </div>
    <% end %>

    <% if flash[:notice] %>
        <div class="alert alert-success" role="alert" style="margin: 15px 35px 15px 35px">
          <span class="sr-only">Success:</span>
          <strong><%= flash[:notice] %></strong>
        </div>
    <% end %>

  </div>

<div id="information_footer">
<div class="information" >
  <div class="container">
    <div class="infor-top">
      <div class="col-md-3 infor-left">
        <h3>Pratite nas</h3>
        <ul>
          <li><a href="https://www.facebook.com/Argentum-vita-121392171247571" target="_blank"><span class="fb"></span><h6>Facebook</h6></a></li>


        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>Informacije</h3>
        <ul>
          <li>
            <%= link_to general_path do %>
              <p>Opći uvjeti</p>
            <% end %>
          </li>
          <li>
            <%= link_to home_privacy_path do %>
              <p>Izjava o privatnosti</p>
            <% end %>
          </li>
          <li>
            <%= link_to payment_methods_path do %>
              <p>Načini plaćanja</p>
            <% end %>
          </li>
          <li>
            <%= link_to delivery_payment_info_home_index_path do %>
              <p>Dostava</p>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>Moj Račun</h3>
        <ul>
          <li>
            <% if current_user != nil %>
              <%= link_to accounts_my_account_path do %>
                <p>Moj Račun</p>
              <% end %>
            <% end %>
          </li>
          <li>
            <% if current_user != nil %>
                <%= link_to accounts_purchases_path do %>
                    <p>Povijest Kupnji</p>
                <% end %>
            <% end %>
          </li>

        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>Prodajna Mjesta</h3>
        <h4>Argentum Vita,
          <span>Prilaz Ivana Visina bb,</span>
          10020 Zagreb</h4>

        <h5>+385 95 305 3171</h5>
        <p><a href="mailto:info@argentumvita.com">info@argentumvita.com</a></p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<!--information-end-->

<!--footer-starts-->
<div class="footer" id="footer_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-0.5" style="margin-bottom: 10px;">
        <%= link_to "http://www.corvuspay.hr/", target: "_blank" do %><%= image_tag('cards/corvpay-small.png') %><% end %>
        <!-- PayPal Logo ><table border="0" cellpadding="10" cellspacing="0" align="left"><tr><td align="left"></td></tr><tr><td align="left"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_74x46.jpg" border="0" alt="PayPal Logo"></a></td></tr></table> PayPal Logo -->
      </div>
      <div class="col-md-0.5 pull-right" style="margin-left: 25px;">
        <%= link_to "https://www.zaba.hr/download/ecommerce/master_securecode.htm", target: "_blank" do %><%= image_tag('cards/mastercard_securecode.gif') %><% end %>
      </div>
      <div class="col-md-0.5 pull-right" style="margin-left: 25px;">
        <%= link_to "https://www.zaba.hr/download/ecommerce/verified_by_visa.htm", target: "_blank" do %><%= image_tag('cards/verified_by_visa.jpg') %><% end %>
      </div>
      <div class="col-md-0.5 pull-right">
        <%= link_to "http://www.maestrocard.com/gateway/index.html", target: "_blank" do %><%= image_tag('cards/ms_acc_opt_70_1x.png') %><% end %>
      </div>
      <div class="col-md-0.5 pull-right">
        <%= link_to "https://www.mastercard.hr/hr-hr.html", target: "_blank" do %><%= image_tag('cards/mc_acc_opt_70_1x.png') %><% end %>
      </div>
      <div class="col-md-0.5 pull-right" style="margin-right: 25px;">
        <%= link_to "http://www.visa.com.hr/", target: "_blank" do %><%= image_tag('cards/visa_fc.png', style: 'width: 70px; height: 45px;') %><% end %>
      </div>
    </div>
    <div class="footer-top" style="margin-top: 10px;">
      <div class="col-md-6 footer-left">
        <form>
          <input type="text" value="unesite e-mail adresu" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
          <input type="submit" value="Pretplati se">
        </form>
      </div>
      <div class="col-md-6 footer-right">
        <p>© 2018 Argentum Vita. All Rights Reserved | Design by <a href="http:\\www.cactus-code.com" target="_blank">CactusCode</a> </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
</div></div>
<!--footer-end-->

<!--Registration Form dialog-->




<!--Notice box on adding item to cart-->
<script>


  // Notice closes after 1 Second
  function notice1Sec() {
    new jBox('Notice', {
      content: 'Artikl dodan u košaricu',
      autoClose: 1500,
      attributes: {
        x: 'right',
        y: 'top'
      },
      position: { // The position attribute defines the distance to the window edges
        x: 0,
        y: 60
      }
    });
  }
</script>
<!--End notice box on adding item to cart-->

<script type="application/x-javascript" >
  addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  }
</script>

<script>
  $(document).ready(function () {
    $(".memenu").memenu();
  });
</script>



<script>
  $(document).ready(function () {
    $("#modal-photo").owlCarousel({

      navigation: true,
      slideSpeed: 300,
      paginationSpeed: 400,
      singleItem: true,


      // "singleItem:true" is a shortcut for:
      // items : 1,
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

    });
  });
</script>
<script>
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 600) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });

</script>
<script>

  // You can also use "$(window).load(function() {"

    // Slideshow 4
    $("#slider4").responsiveSlides({
      auto: true,
      pager: true,
      nav: true,
      speed: 500,
      namespace: "callbacks",
      before: function () {
        $('.events').append("<li>before event fired.</li>");
      },
      after: function () {
        $('.events').append("<li>after event fired.</li>");
      }
    });

  $('.showTooltipPayment').tooltip({show: {effect:"none", delay:100}});
</script>

<% if params[:action] != 'about_us_page' && params[:action] != 'contact_page' %>
<script>
    night_day = sessionStorage.getItem("night_day");

    function night_mode(){
        //$('body').css('background', 'url("/assets/low_contrast_linen.png") top left repeat');
        document.body.style.background = 'url(/assets/assault.png) top left repeat';
        var cols =     document.getElementsByClassName('row1');
        for(i=0; i<cols.length; i++) {
            cols[i].style.backgroundColor =    'white';
        }
        var cols2 =     document.getElementsByClassName('js-irs-0');
        for(i=0; i<cols2.length; i++) {
            cols2[i].style.backgroundColor =    'white';
        }
        var button = document.getElementById('NightAndDay');
        button.innerHTML = "Dnevni način";
        button.setAttribute( "onClick", "javascript: day_mode();" );

        var topTitle = document.getElementById('topTitle');
        topTitle.style.color = 'white';

        night_day = "night";
        sessionStorage.setItem("night_day", night_day);
    }

    function day_mode(){
        //$('body').css('background', 'url("/assets/low_contrast_linen.png") top left repeat');
        var path = window.location.host;
        document.body.style.background = 'url(/assets/swirl.png) top left repeat';

        var button = document.getElementById('NightAndDay');
        button.innerHTML = "Noćni način";
        button.setAttribute( "onClick", "javascript: night_mode();" );

        var topTitle = document.getElementById('topTitle');
        topTitle.style.color = 'black';

        night_day = "day";
        sessionStorage.setItem("night_day", night_day);
    }

    var cols =     document.getElementsByClassName('row1');
    for(i=0; i<cols.length; i++) {
        cols[i].style.backgroundColor =    'white';
    }
    var cols2 =     document.getElementsByClassName('js-irs-0');
    for(i=0; i<cols2.length; i++) {
        cols2[i].style.backgroundColor =    'white';
    }

    if(night_day === "night"){
        //$('body').css('background', 'url("/assets/low_contrast_linen.png") top left repeat');
        var path = window.location.host;
        document.body.style.background = 'url(/assets/assault.png) top left repeat';
        var cols =     document.getElementsByClassName('row1');
        for(i=0; i<cols.length; i++) {
            cols[i].style.backgroundColor =    'white';
        }
        var cols2 =     document.getElementsByClassName('js-irs-0');
        for(i=0; i<cols2.length; i++) {
            cols2[i].style.backgroundColor =    'white';
        }
        var button = document.getElementById('NightAndDay');
        button.innerHTML = "Dnevni način";
        button.setAttribute( "onClick", "javascript: day_mode();" );

        var topTitle = document.getElementById('topTitle');
        topTitle.style.color = 'white';
    }else{
        //$('body').css('background', 'url("/assets/low_contrast_linen.png") top left repeat');
        document.body.style.background = 'url(/assets/swirl.png) top left repeat';

        var button = document.getElementById('NightAndDay');
        button.innerHTML = "Noćni način";
        button.setAttribute( "onClick", "javascript: night_mode();" );

        var topTitle = document.getElementById('topTitle');
        topTitle.style.color = 'black';
    }

</script>


<% end %>
<script>


$(document).ready(function(){
    $("#success-alert").hide(0);
    $("#error-alert").hide(0);
    $("#warning-alert").hide(0);
    $("#purchase-complete-alert").hide(0);

  $(window).load(function(){
    // Remove the # from the hash, as different browsers may or may not include it
    var hash = location.hash.replace('#','');

    if(hash != ''){
      var url      = window.location.href;

          if (url.includes("articles_end")) {
          // Clear the hash in the URL
          // location.hash = '';   // delete front "//" if you want to change the address bar
            $('html, body').animate({ scrollTop: $("#articles_container_prdt").prop("scrollHeight")}, 500);
          }
       }
   });
});


</script>

<script>
  $(document).ready(function () {
    if (window.innerWidth <= 768) {
        $('#search-bar').removeClass('header-right').addClass('header-left');
    }
  });
</script>

</body>
</html>
